<!-- .section-block -->
<div class="section-block">
  <h2 class="section-title"><i class="fa fa-tag fa-fw"></i> v1.0.2 (June 22, 2018)</h2>
  <ul>
    <li>Enhancement: Addressing details information for plugins (plugins docs)</li>
    <li>Enhancement: Renamed <code>.app-tasks</code> page to <code>.app-board</code></li>
    <li>Enhancement: Truncated long menu and <code>.btn-account</code> on aside panel</li>
    <li>Enhancement: README file</li>
    <li>New: footer section</li>
    <li>New: <code>package-lock.json</code> to ship folder to avoid failed installation on windows machines</li>
    <li>New: Table filter page (big filtering form for table view)</li>
    <li>New: Summernote plugin</li>
    <li>New: Bootstrap TouchSpin plugin (number input)</li>
    <li>New: jsTree plugin</li>
    <li>Fixed: loader on floating label (form input)</li>
    <li>Fixed: missing <code>.tile-xl</code> and <code>.tile-xxl</code></li>
    <li>Fixed: not appropriate line-height on some components (button, input, nav-link, tile, avatar, etc)</li>
    <li>Fixed: some minor bugs and broken links</li>
    <li>Deprecated: Bootstrap Treeview plugin (will remove on next release)</li>
    <li>Removed: Bower from our Build System</li>
  </ul>
</div>
<!-- /.section-block -->
