<!-- .section-block -->
<div class="section-block">
  <h2 class="section-title"><i class="fa fa-tag fa-fw"></i> v1.1.0 (November 05, 2018)</h2>
  <ul>
    <li>Enhancement: Make content layout fluid</li>
    <li>Enhancement: Merge <code>pace.scss</code> and <code>quill.scss</code> to <code>_plugin.scss</code></li>
    <li>Enhancement: Handle autofocus input in modal/dropdown components</li>
    <li>Enhancement: Increase <code>.app-aside</code> zindex on screen md &amp; up</li>
    <li>Enhancement: Re-order main menu</li>
    <li>Enhancement: Rewrite theme script using ES2015 class</li>
    <li>Enhancement: Refactoring SCSS files and folders</li>
    <li>Enhancement: Switching between aside with light or dark background</li>
    <li>Enhancement: Switching between header with light or dark background</li>
    <li>Enhancement: Adding fluid width &amp; expand classes for sidebar (now you can show the sidebar only when you need it)</li>
    <li>Enhancement: Page fullscreen behavior</li>
    <li>Enhancement: Board page</li>
    <li>Enhancement: Message page</li>
    <li>Enhancement: Dropdown datepicker</li>
    <li>Enhancement: Banner message component</li>
    <li>Enhancement: Subtle colors (use rgba format)</li>
    <li>Enhancement: Jqvmap zoomin/out buttons</li>
    <li>Enhancement: Pagination active bg</li>
    <li>Enhancement: Update stacked-menu bg to transparent</li>
    <li>Enhancement: Update default sidebar-bg to white</li>
    <li>Enhancement: Update datatables sort icons</li>
    <li>Enhancement: Update browserlist in <code>gulpfile.js</code></li>
    <li>New: Dark skin</li>
    <li>New: Client page</li>
    <li>New: Teams page</li>
    <li>New: Team page</li>
    <li>New: Project page</li>
    <li>New: Gantt chart</li>
    <li>New: Gantt view page</li>
    <li>New: Calendar page</li>
    <li>New: Create new task modal</li>
    <li>New: View / edit task modal</li>
    <li>New: New tasks list input</li>
    <li>New: Payment method section to user-billing page</li>
    <li>New: Mention component</li>
    <li>New: Avatar-group transition <code>.avatar-group-animated</code></li>
    <li>New: Custom varibles file <code>_variable-custom.scss</code> to easily override theme variables</li>
    <li>New: Filterlist fn to theme script</li>
    <li>New: Scrollable content to tasks component</li>
    <li>New: Modal right &amp; left</li>
    <li>New: Flagging class for macos due to line-height render issue between font-family</li>
    <li>Fixed: Perfect scrollbar appearance issue in <code>.aside-menu</code></li>
    <li>Fixed: Overlap flatpickr zindex in modal</li>
    <li>Fixed: <code>.message-title</code> line-height</li>
    <li>Fixed: Form group size height</li>
    <li>Fixed: Knobify footer item</li>
    <li>Deprecated: Toastr</li>
  </ul>
</div>
<!-- /.section-block -->
