<!-- .section-block -->
<div class="section-block">
  <h2 class="section-title"><i class="fa fa-tag fa-fw"></i> v1.3.0 (July 7, 2019)</h2>
  <ul>
    <li>Enhancement: Rename <code>.overflow-x</code> to <code>overflow-x-auto</code> and <code>.overflow-y</code> to <code>.overflow-y-auto</code></li>
    <li>Enhancement: Make todos section (client page) dragable</li>
    <li>New: Bootstrap-select plugin</li>
    <li>New: <code>.sticker</code> component</li>
    <li>New: Landing page</li>
    <li>New: Translate position, oversizing, scaling, rotate and flip utility classes</li>
    <li>New: Horizontal menu layout example</li>
    <li>New: Instant search suggestions</li>
    <li>New: Password strength meter plugin</li>
    <li>New: Responsive headings, display(s), and lead text</li>
    <li>New: Responsive <code>.card-deck</code> classes (<code>.card-deck-{xs|sm|md|lg|xl}</code>)</li>
    <li>New: Responsive <code>.container</code> and <code>.container-fluid</code> (<code>.container-{xs|sm|md|lg|xl}</code> and <code>.container-fluid-{xs|sm|md|lg|xl}</code>)</li>
    <li>Fixed: Floating button position on mobile devices</li>
    <li>Fixed: Header alignment bug on ie11</li>
    <li>Fixed: Select menu bug on dark skin</li>
    <li>Fixed: Member list modal</li>
    <li>Fixed: Placeholder bug on <code>.form-label-group</code> autofocus</li>
    <li>Fixed: <code>.dropdown-arrow</code> placement bug</li>
    <li>Fixed: Dropup, dropleft, and dropright placement bug</li>
    <li>Fixed: Flatpickr daterange data-default-date selection</li>
    <li>Fixed: Datatables copy notification on dark skin</li>
    <li>Fixed: Font color datatables print view on dark skin</li>
    <li>Fixed: <code>.input-group</code> validation feedback text</li>
    <li>Deprecated: <code>.section-deck</code> class. Please use <code>.card-deck-xl</code> instead</li>
    <li>Deprecated: <code>.section</code> class</li>
    <li>Deprecated: <code>default/components/site.scss</code> file</li>
    <li>Removed: <code>.gitignore</code> from ship package</li>
  </ul>
</div>
<!-- /.section-block -->
