---
layout: landing
title: "Simple & Beautiful Admin Theme"
active: false
pluginsCss:
  - aos/aos.css
pluginsJs:
  - aos/aos.js
---

<!-- site header -->
{% include landing/header-01.html %}
<!-- /site header -->

<!-- hero -->
{% include landing/hero-01.html %}
<!-- /hero -->

<!-- .feature -->
{% include landing/feature-01.html %}
<!-- /.feature -->

<!-- sections title -->
{% include landing/sections-title-01.html %}
<!-- /sections title -->

<!-- feature -->
{% include landing/feature-02.html %}
<!-- /feature -->

<!-- divider -->
{% include landing/divider-01.html %}
<!-- /divider -->

<!-- feature -->
{% include landing/feature-03.html %}
<!-- /feature -->

<!-- feature -->
{% include landing/pricing-01.html %}
<!-- /feature -->

<!-- testimonials -->
{% include landing/testimonials-01.html %}
<!-- /testimonials -->

<!-- call to action -->
{% include landing/cta-01.html %}
<!-- /call to action -->

<!-- footer -->
{% include landing/footer-01.html %}
<!-- /footer -->
