<section class="py-5">
  <!-- .container -->
  <div class="container">
    <!-- .row -->
    <div class="row align-items-center">
      <!-- .col-md-6 -->
      <div class="col-12 col-md-6" data-aos="fade-right">
        <img class="img-fluid mb-4 mb-md-0" src="assets/images/illustration/solution.svg" alt="">
      </div>
      <!-- /.col-md-6 -->
      <!-- .col-md-6 -->
      <div class="col-12 col-md-6 text-center text-sm-left">
        <h3 class="mb-4">Increase your productivity</h3>
        <p class="text-muted font-size-lg mb-4">Create stunning UI with tons of our components. Our build system allows you to save a lot of time as well.</p>
        <a href="#" class="btn btn-subtle-primary">Browse all components</a>
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<section class="pt-5">
  <!-- .container -->
  <div class="container">
    <!-- .row -->
    <div class="row align-items-center">
      <!-- .col-md-6 -->
      <div class="col-12 col-md-6 order-md-2" data-aos="fade-left">
        <img class="img-fluid mb-4 mb-md-0" src="assets/images/illustration/testimony.svg" alt="">
      </div>
      <!-- /.col-md-6 -->
      <!-- .col-md-6 -->
      <div class="col-12 col-md-6 order-md-1 text-center text-sm-left">
        <h3 class="mb-4">Grow your business</h3>
        <p class="text-muted font-size-lg mb-4">With a user-friendly, simple and responsive design, you can easily attract your prospective clients. Don't worry! our team will always be behind you if needed.</p>
        <a href="#" class="btn btn-subtle-primary">Explore details</a>
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
