<section class="py-5">
  <!-- .container -->
  <div class="container">
    <!-- .row -->
    <div class="row text-center text-md-left">
      <!-- .col -->
      <div class="col-6 col-md-3 py-4" data-aos="fade-up" data-aos-delay="0">
        <img class="mb-4" src="assets/images/illustration/lab.svg" alt="" height="72">
        <h2 class="lead">Simple and Rich</h2>
      </div>
      <!-- /.col -->
      <!-- .col -->
      <div class="col-6 col-md-3 py-4" data-aos="fade-up" data-aos-delay="100">
        <img class="mb-4" src="assets/images/illustration/easy-config.svg" alt="" height="72">
        <h2 class="lead">Easy Cuztomizable</h2>
      </div>
      <!-- /.col -->
      <!-- .col -->
      <div class="col-6 col-md-3 py-4" data-aos="fade-up" data-aos-delay="200">
        <img class="mb-4" src="assets/images/illustration/scale.svg" alt="" height="72">
        <h2 class="lead">Fast and scalable</h2>
      </div>
      <!-- /.col -->
      <!-- .col -->
      <div class="col-6 col-md-3 py-4" data-aos="fade-up" data-aos-delay="300">
        <img class="mb-4" src="assets/images/illustration/support.svg" alt="" height="72">
        <h2 class="lead">Excellent Support</h2>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
