<section class="position-relative py-5 bg-light">
  <!-- .sticker -->
  <div class="sticker">
    <div class="sticker-item sticker-top-right sticker-soften translate-x-50">
      <img src="assets/images/decoration/bubble1.svg" alt="" data-aos="fade-left">
    </div>
  </div>
  <!-- /.sticker -->

  <!-- .container -->
  <div class="container position-relative">
    <h2 class="text-center">Simple pricing</h2>
    <p class="lead text-muted text-center mb-5">Quality design and excellent support at an affordable price.</p>

    <!-- .row -->
    <div class="row align-items-center">
      <!-- .col -->
      <div class="col-12 col-md-5 offset-md-1 py-md-4 pr-md-0">
        <div class="card font-size-lg shadow-lg" data-aos="fade-up">
          <h5 class="card-header text-center text-success p-4 px-lg-5">Standard License</h5>
          <div class="card-body p-4 p-lg-5">
            <h3 class="display-3 text-center">
              <sup><small>$</small></sup>49<small><small>/app</small></small>
            </h3>
            <p class="text-center text-muted mb-5">If you are a freelancer, team, or you just create an app for your internal company, this offers is great for you.</p>

            <ul class="list-icons">
              <li class="mb-2 pl-1">
                <span class="list-icon">
                  <img class="mr-2" src="assets/images/decoration/check.svg" alt="" width="16">
                </span>
                Build a Single End Product
              </li>
              <li class="mb-2 pl-1">
                <span class="list-icon">
                  <img class="mr-2" src="assets/images/decoration/check.svg" alt="" width="16">
                </span>
                Use for Personal or a Client
              </li>
              <li class="mb-2 pl-1">
                <span class="list-icon">
                  <img class="mr-2" src="assets/images/decoration/check.svg" alt="" width="16">
                </span>
                Make unlimited copies
              </li>
              <li class="mb-2 pl-1">
                <span class="list-icon">
                  <img class="mr-2" src="assets/images/decoration/check.svg" alt="" width="16">
                </span>
                Modify the Theme
              </li>
              <li class="mb-2 pl-1">
                <span class="list-icon">
                  <img class="mr-2" src="assets/images/decoration/check.svg" alt="" width="16">
                </span>
                Combine with another works
              </li>
              <li class="mb-2 pl-1">
                <span class="list-icon">
                  <img class="mr-2" src="assets/images/decoration/check.svg" alt="" width="16">
                </span>
                Free update forever
              </li>
              <li class="mb-2 pl-1">
                <span class="list-icon">
                  <img class="mr-2" src="assets/images/decoration/check.svg" alt="" width="16">
                </span>
                24/7 support
              </li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="{{site.purchase}}" class="card-footer-item p-4 px-lg-5">Purchase now</i></a>
          </div>
        </div>
      </div>
      <!-- /.col -->

      <!-- .col -->
      <div class="col-12 col-md-5 py-md-4 pl-md-0">
        <div class="card font-size-lg card-inverse bg-primary shadow" data-aos="fade-up" data-aos-delay="200">
          <h5 class="card-header text-center p-4 px-lg-5">Extended License</h5>
          <div class="card-body p-4 p-lg-5">
            <h3 class="display-3 text-center">
              <sup><small>$</small></sup>499<small><small>/app</span></small>
            </h3>
            <p class="text-center text-muted-light mb-5">Build your app, sell and charge your users. You don't need to pay us anymore.</p>

            <ul class="list-icons">
              <li class="mb-2 pl-1">
                <span class="list-icon">
                  <img class="mr-2" src="assets/images/decoration/check.svg" alt="" width="16">
                </span>
                Include all the Standar License
              </li>
              <li class="mb-2 pl-1">
                <span class="list-icon">
                  <img class="mr-2" src="assets/images/decoration/check.svg" alt="" width="16">
                </span>
                Use in an End Product that is "Sold"
              </li>
              <li class="mb-2 pl-1">
                <span class="list-icon">
                  <img class="mr-2" src="assets/images/decoration/check.svg" alt="" width="16">
                </span>
                Can have multiple paying users
              </li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="{{site.purchase}}" class="card-footer-item text-white p-4 px-lg-5">Purchase now</i></a>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
