<section class="position-relative py-5 bg-light">
  <!-- .sticker -->
  <div class="sticker">
    <div class="sticker-item sticker-bottom-left sticker-soften">
      <img src="assets/images/decoration/bubble2.svg" alt="" data-aos="zoom-in" data-aos-delay="200">
    </div>
  </div>
  <!-- /.sticker -->

  <!-- .container -->
  <div class="container position-relative mb-5">
    <h2 class="text-center">You are in a good company</h2>
    <p class="text-center text-muted font-size-lg mb-5">We are nothing without you! Thanks to all of you who have contributed in every update.</p>

    <!-- .row -->
    <div class="row mb-6">
      <!-- .col -->
      <div class="col-12 col-md-8 offset-md-2 py-3">
        <!-- .row -->
        <div class="row justify-content-center text-center">
          <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="0">
            <img src="assets/images/logo/airbnb.svg" alt="" class="img-fluid" style="max-height: 32px">
          </div>
          <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/images/logo/amazon.svg" alt="" class="img-fluid" style="max-height: 32px">
          </div>
          <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="200">
            <img src="assets/images/logo/apple.svg" alt="" class="img-fluid" style="max-height: 32px">
          </div>
          <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="300">
            <img src="assets/images/logo/dropbox.svg" alt="" class="img-fluid" style="max-height: 32px">
          </div>
          <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="400">
            <img src="assets/images/logo/google.svg" alt="" class="img-fluid" style="max-height: 32px">
          </div>
          <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="500">
            <img src="assets/images/logo/linkedin.svg" alt="" class="img-fluid" style="max-height: 32px">
          </div>
          <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="600">
            <img src="assets/images/logo/paypal.svg" alt="" class="img-fluid" style="max-height: 32px">
          </div>
          <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="700">
            <img src="assets/images/logo/shopify.svg" alt="" class="img-fluid" style="max-height: 32px">
          </div>
          <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="900">
            <img src="assets/images/logo/sketch.svg" alt="" class="img-fluid" style="max-height: 32px">
          </div>
          <div class="col-4 col-md-3 col-lg-2 mb-5" data-aos="fade-up" data-aos-delay="1000">
            <img src="assets/images/logo/slack.svg" alt="" class="img-fluid" style="max-height: 32px">
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- .row -->
    <div class="row">
      <!-- .col -->
      <div class="col-12 col-md-6 col-lg-4 offset-lg-1 mr-md-0">
        <!-- .card -->
        <div class="card shadow-none rounded-lg mb-0 mr-md-n5 mt-md-n5 scale-125" data-aos="fade-in">
          <img class="img-fluid rounded-lg" src="assets/images/dummy/happy-client.jpg" alt="">
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <!-- .col -->
      <div class="col-12 col-md-6 col-lg-5 ml-md-0">
        <!-- .card -->
        <div class="card shadow-lg rounded-lg p-4 ml-md-n5 mt-md-5" data-aos="fade-up">
          <blockquote class="blockquote text-center border-0 p-3 p-md-4">
            <figure>
              <img class="mr-2" src="assets/images/decoration/quote.svg" alt="" height="32">
            </figure>
            <p>I am a Looper enthusiast in many ways. First, the design is modern and essential, yet very pleasant and rich of refined graphics. Plus, it has some serious gems like rich-text editor, timeline activity, autocompletes and many other components that literally boost your creativity and the features you can put in a website. On top of all that, the creator offers excellent support on a few hours response time!</p>
            <footer class="blockquote-footer">Marco, through <cite title="Bootstrap Themes">Bootstrap Themes</cite></footer>
          </blockquote>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
